# Generic
*.a
*.s
*.o
*.so
*.pyc
*.pyo
*.swp
*~
.DS_Store

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
build/

# Android
android/app/src/main/assets/flutter_assets/
android/key.properties
android/local.properties
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Logs
*.log